h1{
    text-align: center;
}

input{
    height: 40px;
    width: 400px;
   display: flex;
   margin: auto;
   align-items: center;
}
button{
    display: flex;
    margin: auto;
    height: 40px;
    width: 400px;
    text-align: center;
    display: flex;
     align-items: center; 
    justify-content: center;


}
#result{
    text-align: center;
    padding-top: 20px;
}